<p class="donor">Gratefully funded by</p>

<a href="http://ec.europa.eu/echo/" target="_blank"><img class="img-rounded img-responsive-icons" src="{{site.baseurl}}\images\logos\echo_logo_negative.png" alt="echo_flag" width="100"></a></div>

<a href="https://www.usaid.gov/who-we-are/organization/bureaus/bureau-democracy-conflict-and-humanitarian-assistance/office-us" target="_blank"><img class="img-rounded img-responsive-icons" src="{{site.baseurl}}\images\logos\usaid-horizontal-white.png" alt="usaid" width="300"></a>
