    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
						{% include donors.html %}
                </div>

                <div class="col-sm-4">
                    <h5>Contributions and ideas</h5>
                    <p>Could you contribute to this or have ideas on what you would like to see?</p><p>Submit ideas to us via <a href="https://goo.gl/forms/ItRP4BqftLc3w13j2">this form.</a></p>
                </div>
                <div class="col-sm-4">
                    
					{% include social.html %}                    
                    <p>Registered charity 1126727; registered company limited by guarantee 6611408 (England and Wales)</p>
                    <p></p>
                    <p>Copyright &copy; <a href="http://www.mapaction.org/">MapAction</a>.</p>
                </div>
            </div>
        </div>
    </footer>
