 <!-- maps and data repository -->
    <section class="danger" id="maps_and_data_repository">
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="mdr">
				<h2 class="text-center">MapAction maps and data repository</h2>
				<p class="text-center">Search and download real world examples of maps and data created by MapAction.</p>
				<hr class="star-primary">
                    <a href="http://maps.mapaction.org"><img class="img-rounded img-responsive-icons img-center" src="\images\logos\mapaction.png" alt="mapaction_logo"></a>
                    <p class="text-center"><a class="btn btn-primary btn-lg" href="http://maps.mapaction.org">Maps and data</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
