---
layout: chapter-contents
title: Hazard maps
page-type: overview
map-group: hazards
previous-section: /clusters
next-section: /others/
---

		
<div class="container">
		<div class="row">
				{% for maps in site.pages %}
				{% if maps.map-group =="hazards" and maps.page-type =="map-description" %}
<div class="col-md-4">
<div class="card border-0 shadow">
	<a href="{{site.baseurl}}\{{maps.folder-name}}\{{maps.filename}}" class="stretched-link">
		<img src="{{site.baseurl}}/images/hazards/{{maps.image}}" class="card-img-top" alt="...">
			<div class="card-body-topic text-center">
			<strong class="card-title mb-0">{{maps.title}}</strong>
	</a>
</div>	
</div>
</div>

{% endif %}		

{% endfor %}
</div>
</div>