---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
    style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ site.title }}</h1>
                        {% if site.description %}
                        <span class="subheading">{{ site.description }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    


        <div class="container">

            <div class="col-lg-12">
              <h1>Hello</h1>
              <p>This is my introduction to the website. This is my introduction to the website. This is my introduction to the website. This is my introduction to the website. This is my introduction to the website. This is my introduction to the website. This is my introduction to the website. </p>
              </div>
    
            </div>
    
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Core -->
        <div class="col-sm-6">
          <div class="card border-0 shadow">
            <a href="{{site.baseurl}}/01-core/" class="stretched-link">
            <img src="{{site.baseurl}}\images\core\core-reference-map-topographic.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h4 class="card-title mb-0">Core maps</h4>
              <div class="card-text text-black-50">        
              </a>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Cluster maps -->
        <div class="col-sm-6">
            <div class="card border-0 shadow">
              <a href="{{site.baseurl}}/02-clusters/" class="stretched-link">
              <img src="{{site.baseurl}}\images\clusters\cluster-emergency-telecommunications-gsm.jpg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h4 class="card-title mb-0">Cluster maps</h4>
                <div class="card-text text-black-50">        
                </a>
                </div>
              </div>
            </div>
          </div>
          <!--/card-->
      </div>
      <!-- /.row -->
    
    </div>
    <!-- /.container -->
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
          <!-- Hazard maps -->
          <div class="col-sm-6">
            <div class="card border-0 shadow">
              <a href="{{site.baseurl}}/03-hazards/" class="stretched-link">
              <img src="{{site.baseurl}}\images\hazards\hazard-volcano.jpg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h4 class="card-title mb-0">Hazard maps</h4>
                <div class="card-text text-black-50">        
                </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Other maps -->
          <div class="col-sm-6">
              <div class="card border-0 shadow">
                <a href="{{site.baseurl}}/04-others/" class="stretched-link">
                <img src="{{site.baseurl}}\images\others\other-population-movement.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h4 class="card-title mb-0">Other maps</h4>
                  <div class="card-text text-black-50">        
                  </a>
                  </div>
                </div>
              </div>
            </div>
    
            <!--/card-->
        </div>
        <!-- /.row -->
      
      </div>
      <!-- /.container -->
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
          <!-- GIS and information management -->
          <div class="col-sm-6">
            <div class="card border-0 shadow">
              <a href="{{site.baseurl}}/05-gis_im_overview.html" class="stretched-link">
              <img src="{{site.baseurl}}\images\gis-im\gis-im-map-wall.jpg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h4 class="card-title mb-0">GIS and information management</h4>
                <div class="card-text text-black-50">        
                </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Chapter 6 -->
        <div class="col-sm">
              <div class="card border-0 shadow">
                <a href="{{site.baseurl}}\06-data_sources_overview.html" class="stretched-link">
                <img src="{{site.baseurl}}\images\gis-im\gis-im-layers-of-data.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h4 class="card-title mb-0">Data sources</h4>
                  <div class="card-text text-black-50">        
                  </a>
                  </div>
                </div>
              </div>
            </div>
    
            <!--/card-->
        </div>
        <!-- /.row -->
      
      </div>
      <!-- /.container -->        